ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #258e25;
    overflow: hidden;

}
li{
    float: left;
}
li a{
    display:block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
li a:hover{
    background-color: black;
}
.cars{
    background-color: brown;
    padding: 20px;
    margin: 20px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    border: 2px dotted black;
    text-align: center;
    color: white;
}
.fruits{
    background-color: blue;
    padding: 25px;
    margin: 15px;
    border: 3px solid chartreuse;
}
#computer{
    background-color: #a61fd3;
    padding: 25px;
    margin: 15px;
    border: 3px solid red;

}
